<section class="container brands-container">
  <div class="brands">
    <h2 class="h-brands">
      наші партнери
      <svg class="hands-icon" viewBox="0 0 32 32" width="36" height="36">
        <use href="./img/icons.svg#icon-handshake"></use>
      </svg>
    </h2>
    <a
      href="https://www.sensodyne.ua/"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="brands-icon" viewBox="0 0 86 32">
        <use href="./img/icons.svg#icon-sensodyne-logo"></use>
      </svg>
    </a>
    <a
      href="https://www.parodontax.ua/"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="brands-icon" viewBox="0 0 90 32">
        <use href="./img/icons.svg#icon-parodontax_logo"></use>
      </svg>
    </a>
  </div>
</section>
