<footer class="footer">
  <div class="container">
    <div class="logo-container-footer">
      <a class="logo-footer" href="./index.html"
        ><svg
          class="icon-team icon-team-mobile"
          width="173"
          height="56"
          viewBox="0 0 100 32"
          preserveAspectRatio="xMidYMid meet"
        >
          <use class="logotype" href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <p class="footer-desc">Працюємо 7 днів на тиждень з 9:00 до 19:00</p>
    <p>ми в соцмережах:</p>
    <div class="social-list-footer">
      <ul class="social-list social-mobile">
        <li class="social-list-link-footer">
          <a
            class="social-link"
            href="https://www.instagram.com/dovira_borshchahivka/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg
              class="icon-team icon-team-mobile"
              width="16"
              height="16"
              viewBox="0 0 32 32"
            >
              <use class="logo" href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-link-footer">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg
              class="icon-team icon-team-mobile"
              width="16"
              height="16"
              viewBox="0 0 32 32"
            >
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-link-footer">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg
              class="icon-team icon-team-mobile"
              width="16"
              height="16"
              viewBox="0 0 32 32"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-link-footer">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg
              class="icon-team icon-team-mobile"
              width="16"
              height="16"
              viewBox="0 0 32 32"
            >
              <use href="./img/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
