<!-- Header section -->
<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <div class="logo-container">
        <a class="logo" href="./index.html"
          ><svg
            class="icon-team icon-team-mobile"
            width="173"
            height="56"
            viewBox="0 0 100 32"
            preserveAspectRatio="xMidYMid meet"
          >
            <use class="logotype" href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link nav-link-h current" href="./index.html"
            >Терапія
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Ортопедія </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Хірургія </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Дитяча стоматологія </a>
        </li>
      </ul>
    </nav>
    <address class="contact">
      <ul class="contact-item">
        <li class="contact-list">
          <a
            class="contact-link contact-link-a"
            href="mailto:info@devstudio.com"
            >info@dovira.ua
          </a>
        </li>
        <li class="contact-list">
          <a class="contact-link contact-link-a" href="tel:+380995159833"
            >+38 (099) 515-98-33
          </a>
        </li>
      </ul>
    </address>
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu">
    <div class="container mobile-menu-container">
      <button class="btn-menu-close" type="button">
        <svg class="button-s" width="8" height="8">
          <use class="button-u" href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav>
        <ul class="nav-list-menu">
          <li class="nav-item-menu">
            <a class="nav-link-menu nav-studio" href="./index.html">Терапія </a>
          </li>
          <li class="nav-item-menu">
            <a class="nav-link-menu" href="">Ортопедія </a>
          </li>
          <li class="nav-item-menu">
            <a class="nav-link-menu" href="">Хірургія </a>
          </li>
          <li class="nav-item-menu">
            <a class="nav-link-menu" href="">Дитяча стоматологія </a>
          </li>
          <li class="nav-item-menu">
            <a class="nav-link-menu" href="">Контакти </a>
          </li>
        </ul>
      </nav>
      <address>
        <ul class="contact-item-menu">
          <li class="contact-list-menu">
            <a class="contact-link-menu contact-nbr" href="tel:+380995159833"
              >+38 (099) 515-98-33
            </a>
          </li>
          <li class="contact-list-menu">
            <a class="contact-link-menu" href="mailto:info@dovira.ua"
              >info@dovira.ua</a
            >
          </li>
        </ul>
      </address>
      <ul class="social-list social-mobile">
        <li class="social-list-link">
          <a
            class="social-link"
            href="https://www.instagram.com/dovira_borshchahivka/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg
              class="icon-team icon-team-mobile"
              width="16"
              height="16"
              viewBox="0 0 32 32"
            >
              <use class="logo" href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-link">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg
              class="icon-team icon-team-mobile"
              width="16"
              height="16"
              viewBox="0 0 32 32"
            >
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-link">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg
              class="icon-team icon-team-mobile"
              width="16"
              height="16"
              viewBox="0 0 32 32"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-link">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg
              class="icon-team icon-team-mobile"
              width="16"
              height="16"
              viewBox="0 0 32 32"
            >
              <use href="./img/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
