<section class="section-hero">
  <video class="hero-video" autoplay muted loop playsinline preload="none">
    <source src="/public/family-video.mp4" type="video/mp4" />
    <source src="/public/family-video.webm" type="video/webm" />
    <track
      src="subtitles-ua.vtt"
      kind="subtitles"
      srclang="uk"
      label="Українська"
    />
    Ваш браузер не підтримує відтворення відео. На відео зображена щаслива
    родина, яка йде разом на фоні закату.
  </video>
  <div class="container container-hero">
    <h1 class="hero-h">СІМЕЙНА СТОМАТОЛОГІЯ «ДОВІРА»</h1>
    <p class="hero-p">ТУРБОТА ПРО УСМІШКУ ВСІЄЇ РОДИНИ</p>
    <div class="btn-hero-container">
      <a href="dovira-agent.html" class="btn-hero">
        <svg class="smile-icon icon-callback" width="20" height="20">
          <use href="./img/icons.svg#icon-callback-logo"></use>
        </svg>
        Консультація онлайн
      </a>
      <button class="btn-hero">
        <svg class="smile-icon icon-phone" width="20" height="20">
          <use href="./img/icons.svg#icon-phone-logo"></use>
        </svg>
        Записатися на прийом
      </button>

      <button class="btn-hero">
        Відгуки
        <svg class="smile-icon icon-happy" width="20" height="20">
          <use href="./img/icons.svg#icon-happy-logo"></use>
        </svg>
      </button>

      <a href="price.html" class="btn-hero">
        Прайс
        <svg class="smile-icon icon-currency" width="20" height="20">
          <use href="./img/icons.svg#icon-currency-logo"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
