<section class="container container-inform">
  <div class="inform">
    <h2 class="h-inform">Bажливо!!!</h2>
    <p class="p-inform">
      Самолікування зубів та ясен може призвести до ускладнень, таких як
      поширення інфекції або руйнування твердих тканин. Неправильне використання
      лікарських засобів або домашніх методів може погіршити стан зубів і
      викликати сильний біль. Тому важливо звертатися до кваліфікованого
      стоматолога для своєчасної діагностики та безпечного лікування.
    </p>
    <p class="p-inform">
      Усі необхідні матеріали та витратні засоби (кофердам, оптрагейт,
      індивідуальний захист тощо) включені в загальну вартість послуги та не
      оплачуються окремо.
    </p>
    <p class="p-inform">
      Для представників Збройних Сил України діє окремий порядок оплати. Щиро
      дякуємо за Ваш внесок у захист країни.
      <span class="hearts">
        <span class="heart heart-yellow">💛</span>
        <span class="heart heart-blue">💙</span>
      </span>
    </p>
  </div>
</section>
