<section class="container container-inform">
  <div class="inform">
    <h2 class="h-inform">Bажливо!!!</h2>
    <p class="p-inform">
      У нас немає прихованих платежів у вигляді додаткової сплати за
      "індивідуальний захист", оптрагейт, кофердам, бахіли тощо.
    </p>
    <p class="p-inform">
      У сімейній стоматології "Довіра" знижки для наших захисників та захисниць
      на постійній основі. Дякуємо за життя
      <span class="heart heart-yellow">💛</span
      ><span class="heart heart-blue">💙</span>
    </p>
  </div>
</section>
