<section class="location-section" id="location">
  <div class="container map-container">
    <div class="location-information-div">
      <p class="pargraph location-under-text">як нас знайти? елементарно!</p>
      <h2 class="title-h2 location-header">
        ми зовсім поруч
        <svg class="squirrel-icon" width="32" height="32" fill="currentColor">
          <use href="/img/icons.svg#icon-thumb"></use>
        </svg>
      </h2>
      <p class="pargraph location-text"></p>
      <ul class="location-list">
        <li class="location-list-item">
          <svg class="location-icon" width="22" height="22">
            <use href="/img/icons.svg#icon-mail"></use>
          </svg>
          <p class="pargraph location-list-item-title">Електронна адреса</p>
          <a class="location-address-link" href="mailto:info@dovira.ua"
            >info@dovira.ua</a
          >
        </li>
        <li class="location-list-item">
          <svg class="location-icon" width="22" height="22">
            <use href="/img/icons.svg#icon-phone"></use>
          </svg>
          <p class="pargraph location-list-item-title">Телефон</p>
          <a class="location-address-link" href="tel:+380995159833"
            >+38 (099) 515-98-33</a
          >
        </li>
        <li class="location-list-item">
          <svg class="location-icon" width="22" height="22">
            <use href="/img/icons.svg#icon-location"></use>
          </svg>
          <p class="pargraph location-list-item-title">Адреса</p>
          <address class="location-address">
            вулиця Амосова, 67, Софіївська Борщагівка, Київська область, 08137
          </address>
          <a
            class="location-map-link"
            href="https://maps.app.goo.gl/qW3QyUf3V8YRYQ5cA"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="location-map-link-text">побудувати маршрут</span>
            <svg class="location-map-link-icon" width="28" height="33">
              <use href="/img/icons.svg#icon-bike"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="location-map-div">
      <iframe
        class="location-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2538.91!2d30.3892191!3d50.3959413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cb06ec821e51%3A0x1498b6bdb78385e3!2z0LTQvtCy0ZbRgNCw0L3QsNGH0YzQtNCwINCa0L7QtNGD0YDQutC--CDQvdCw0Y_XjCIsINCa0L7QtNCwINCa0L7QtNCwINC60L7RgtCw0YHQutC-0LXQu9C90LAiLCAi0JXQsdCw0LLRgtC-0YDQutC--C5duCg!5e0!3m2!1suk!2sua!4v1700000000000!5m2!1suk!2sua&t=k"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Office location"
      >
      </iframe>
    </div>
  </div>
</section>
