<section class="container welcome-container">
  <div class="welcome">
    <div class="welcome-two">
      <h2 class="h-welcome">Вітаємо у “Довірі”</h2>
      <p class="p-welcome">
        Ми — сімейна стоматологія, де турбота починається з усмішки. У нас
        дбають про здоров’я кожного — від першого дитячого зубчика до зрілої
        впевненої посмішки. Ми віримо, що стоматологія може бути спокійною,
        щирою та навіть приємною. Тому створили місце, де ви приходите не зі
        страхом, а з довірою — і залишаєтесь із відчуттям легкості та тепла.
      </p>
      <h3>Ми пропонуємо:</h3>
      <ul class="offer">
        <li>повну діагностику та консультації</li>
        <li>лікування та профілактику для дітей і дорослих</li>
        <li>сучасну естетичну стоматологію</li>
        <li>хірургію та імплантацію</li>
      </ul>
      <p>
        Ми використовуємо сучасне обладнання, якісні сертифіковані матеріали і
        технології нового покоління.
      </p>
      <p>
        Наш підхід — це не просто лікування, а партнерство між лікарем і
        пацієнтом, побудоване на довірі.
      </p>
    </div>
    <div class="welcome-one">
      <h2 class="h-welcome">Чому обирають “Довіру”</h2>

      <div class="welcome-card">
        <h3 class="hp-welcome">Досвід</h3>
        <p class="p-welcome">
          Наш досвід — це історії пацієнтів, які стають нашими друзями. З кожним
          роком ми вдосконалюємося, щоб дарувати Вам упевненість і спокій у
          кріслі стоматолога.
        </p>
      </div>

      <div class="welcome-card">
        <h3 class="hp-welcome">Уважність</h3>
        <p class="p-welcome">
          Кожен пацієнт — не просто позиція у черзі. Ми вислухаємо, пояснимо і
          знайдемо найкраще рішення саме для Вас.
        </p>
      </div>

      <div class="welcome-card">
        <h3 class="hp-welcome">Комфорт</h3>
        <p class="p-welcome">
          Ми створили атмосферу, де не страшно і не боляче. Тут Вас зустрінуть
          усмішкою та турботою у затишному просторі.
        </p>
      </div>

      <div class="welcome-card">
        <h3 class="hp-welcome">Надійність</h3>
        <p class="p-welcome">
          Усі наші лікарі — сертифіковані спеціалісти, які постійно
          вдосконалюють свої знання. Ми працюємо лише з перевіреними матеріалами
          та даємо гарантію якості на виконану роботу.
        </p>
      </div>
    </div>
  </div>
</section>
