.footer {
  display: flex;
  background-color: #8BADA3;
  color: #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}

/* Логотип */
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-svg {
  max-width: 173px;
  width: 100%;
  height: auto;
}

/* Опис футера */
.footer-desc {
  margin: 16px 0;
  font-size: 1.5rem;
  line-height: 1.4;
}

/* Текст соцмереж */
.footer-text {
  margin: 8px 0;
  font-size: 0.95rem;
}

/* Соцмережі */
.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 16px 0;
  list-style: none;
  margin: 0;
}

.social-list-footer li {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s cubic-bezier(0.4,0,0.2,1), transform 0.3s ease;
}

.social-list-footer li:hover,
.social-list-footer li:focus {
  background-color: #31d0aa;
  transform: translateY(-3px);
}

.social-list-footer li svg {
  display: flex;
  align-items: center;
  width: 18px;
  height: 18px;
  fill: #fff;
}

/* Адаптивність */
  .footer-desc {
    font-size: 1.2rem;
    margin: 12px 0;
  }

  .social-list-footer {
    gap: 16px;
  }
  .p-copirite {
    font-size: 12px;
    color:black;
    padding-top: 16px;
  }
    @media screen and (min-width: 768px) {
.logo-svg {
  display: flex;
  justify-content: start;
}
    }

