 /*mobile menu*/

 .mobile-menu {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #8BADA3;

     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
     visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mobile-menu.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
     z-index: 999;
 }

 .mobile-menu-container {
     display: flex;
     flex-direction: column;
     height: 100%;
     justify-content: space-between;
     padding: 72px 24px 40px 16px;
 }

 .nav-list-menu {
     display: flex;
     flex-direction: column;
     gap: 30px;
 }

 .nav-link-menu {
     font-weight: 700;
     font-size: 24px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .contact-link-menu {
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #434455;
 }
 
 .contact-item-menu {
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .social-list-link {
     min-width: 40px;
     height: 40px;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .social-list {
    display: flex;
    gap: 24px;
 }
 .icon-team {
     display: flex;
     justify-content: center;
     align-items: center;
     fill: #f4f4fd;
 }

 .btn-menu-close {
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #ebeb6700;
     border: none;
     padding: 0;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .btn-menu-close:hover,
 .btn-menu-close:focus {
     background-color: #404bbf;
     border: none;
     fill: #ffffff;
 }

 @media screen and (min-width: 768px) {
     .mobile-menu {
         display: none;
     }
 }