/* =========================
   Modern Minimal Reset
========================= */

/* Базові стилі для всіх елементів */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  /* Firefox */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Тіло сторінки */
body {
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

/* Основний контейнер */
main {
  display: block;
  /* для старих браузерів */
  padding-top: 72px;
}

/* Заголовки та параграфи */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Посилання */
a {
  text-decoration: none;
  color: inherit;
}

/* Картинки */
img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Кнопки та інтерактивні елементи */
button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
}

/* Списки */
ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* Аббревіатури */
abbr[title] {
  text-decoration: underline dotted;
}

/* Горизонтальні лінії */
hr {
  border: 0;
  height: 1px;
  background: #ccc;
}

/* Сховані елементи для доступності */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}